
  <body>
    <div id="title-section" >
    <h1>Windkraftanlagen des Landes Brandenburg</h1>
    <nav class="navbar navbar-expand-lg navbar-dark navigationBar" style="padding-left: 0;">
      <a class="navbar-brand brandName" style= "color: white" href="">Turbindr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item lala">
            <a class="nav-link navButtons" href="">Karte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navButtons" href="">Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navButtons" href="">Statistiken</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navButtons" href="">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navButtons" href="">Kontakt</a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
    <div id="main-section">
    <div class="row">
      <div class="col-6">
        <h4 class="text-paragraph">Die Datenquelle entspricht dem Fachinformationssystem LIS-A und enthält Informationen uber geplante, genehmigte und in Betriebgenommene Windkraftanlagen des Landes Brandenburg sowie technische Informationen zu den einzelnen Windkraftanglagen.</h4>
        <h4 class="text-paragraph">Die einzelnen Windkraftanlagen entsprechen dem BlmSchG, der 4. BlmSchV und  9. BlmSchV</h4>
      </div>
      <div class="col-6 img-col">
        <img class="turbine-img" src="images/output-onlinepngtools.png" alt="wind-turbines">
      </div>
    </div>
    </div>
<h1>MONGODB</h1>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Betreiber: {{ this.Betreiber }}</div>
                <div>Latitude: {{ this.Latitude }}</div>
                <div>Longitude: {{ this.Longitude }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
  </body>

