<h1>MONGODB</h1>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Betreiber: {{ this.Betreiber }}</div>
                <div>Latitude: {{ this.Latitude }}</div>
                <div>Longitude: {{ this.Longitude }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
